---
import Button from '../Button.astro';

type Props = {
	title: string;
	titleClass?: string;
	body?: string;
	strong?: string;
	strong2?: string;
	list?: string[];
	list2?: string[];
};

let { title, body, titleClass, strong, strong2, list, list2, } = Astro.props;
---

<div
	class="px-8 pt-6 pb-4 rounded-3xl shadow-md shadow-gray-400/80 max-w-[340px] min-h-[420px] flex flex-col items-center gap-6">
	<h2 class:list={['text-xl font-semibold text-center', titleClass]}>
		{title}
	</h2>
	<p class="flex-1 text-[15px] leading-[22px] text-foreground/80 text-pretty">
		{body}
	</p>
	
	 <ul class="list-none flex flex-col ">
		<strong class="text-foreground/80 pb-2">
			{strong}
		</strong>
		<li class="flex-1 text-[15px] leading-[22px] text-foreground/80 text-pretty">
			{list}
		</li>
		<strong class="text-foreground/80 pb-2 pt-2 ">
			{strong2}
		</strong>
		<li class="flex-1 text-[15px] leading-[22px] text-foreground/80 text-pretty ">
			{list2}
		</li>
	</ul> 

	
	
	<Button label="Contactar equipo Mapache" />
</div>